In [1]:
from pandasql import sqldf
import numpy as np
import pandas as pd

In [ ]:
punto_1_df = pd.read_excel('./data/BD_Punto_1.xlsx')

In [7]:
punto_1_df.head()
print(punto_1_df.shape)
punto_1_df.head()

(11856, 14)

,ID,ciudad,region,GRUPO_SECTOR,ANO_CONSTITUCION,ANTIGUEDAD_CLIENTE,ANO_POLIZA,TOTAL_INGRESOS_OPERATIVOS,CODIGO_RAMO_EMISION,NOMBRE_RAMO_EMISION,VALOR_ASEGURADO,PRIMA_EMITIDA,CANTIDAD_SINIESTROS_DESDE_2019,LIQUIDADO_DESDE_2019
0,111901,Cali,Valle del Cauca,G - comercio al por mayor y al por menor; repa...,2005.0,3.0,2021.0,4.395881e+09,66.0,PRODUCTO 16,1.748899e+10,11030693.0,NaN,NaN
1,111901,Cali,Valle del Cauca,G - comercio al por mayor y al por menor; repa...,2005.0,3.0,2022.0,5.251830e+15,66.0,PRODUCTO 16,1.748899e+10,11030693.0,NaN,NaN
2,111901,Cali,Valle del Cauca,G - comercio al por mayor y al por menor; repa...,2005.0,3.0,2023.0,5.141507e+09,66.0,PRODUCTO 16,1.748899e+10,11030693.0,NaN,NaN
3,111901,Cali,Valle del Cauca,G - comercio al por mayor y al por menor; repa...,2005.0,3.0,2021.0,4.395881e+09,15.0,PRODUCTO 24,1.472254e+10,11650146.0,2.0,1915714.0
4,111901,Cali,Valle del Cauca,G - comercio al por mayor y al por menor; repa...,2005.0,3.0,2022.0,5.251830e+15,15.0,PRODUCTO 24,1.472254e+10,11650146.0,2.0,1915714.0

## Consulta SQL: 
Escriba una consulta SQL para identificar el número de clientes por grupo económico que: 
- Tienen al menos 2 años de antigüedad con Seguros Bolívar. 
- Han tenido siniestros cuyo valor supera el valor de la prima actual de su póliza.

In [11]:
punto_1_df.columns

Index(['ID', 'ciudad', 'region', 'GRUPO_SECTOR', 'ANO_CONSTITUCION',
       'ANTIGUEDAD_CLIENTE', 'ANO_POLIZA', 'TOTAL_INGRESOS_OPERATIVOS',
       'CODIGO_RAMO_EMISION', 'NOMBRE_RAMO_EMISION', 'VALOR_ASEGURADO',
       'PRIMA_EMITIDA', 'CANTIDAD_SINIESTROS_DESDE_2019',
       'LIQUIDADO_DESDE_2019'],
      dtype='object')

In [ ]:
# Si cada fila respresenta un cliente el DISTINCT se quita
# Si 
query = """
SELECT 
    GRUPO_SECTOR,
    COUNT(DISTINCT ID) AS NUM_CLIENTES
FROM 
    punto_1_df
WHERE 
    ANTIGUEDAD_CLIENTE >= 2
    AND NOMBRE_RAMO_EMISION = 'PRODUCTO 24'
    AND LIQUIDADO_DESDE_2019 > PRIMA_EMITIDA
GROUP BY 
    GRUPO_SECTOR
"""

In [15]:
result = sqldf(query, locals())
result.head(50)

                                         GRUPO_SECTOR  NUM_CLIENTES
0   A - agricultura, ganaderia, caza, silvicultura...            11
1                 B - explotacion de minas y canteras             1
2                       C - industrias manufactureras           132
3                                    F - construccion             7
4   G - comercio al por mayor y al por menor; repa...           274
5                     H - transporte y almacenamiento            21
6               I - alojamiento y servicios de comida             1
7                    J - informacion y comunicaciones             2
8                        K - financieras y de seguros             2
9   M - actividades profesionales, cientificas y t...             5
10  N - actividades de servicios administrativos y...             2
11                 S - otras actividades de servicios             2